[submodule "segment-anything-road"]
	path = segment-anything-road
	url = git@github.com:htcr/segment-anything-road.git
[submodule "sam"]
	path = sam
	url = git@github.com:htcr/segment-anything-road.git
